<% content_for :title, "Editing task" %>

<h1>Editar tarefa</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Exibir esta tarefa", @task %> |
  <%= link_to "Voltar para tarefas", tasks_path %>
</div>
