<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

<h1>Tarefas</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Exibir esta tarefa", task %>
    </p>
  <% end %>
</div>

<%= link_to "Nova tarefa", new_task_path %>
